# Numerical stack
matplotlib
numpy
seaborn
pandas

# Jupyter stack
jupyter
jupyterlab
ipywidgets
nodejs  # for ipywidgets

# IPython stack
ipykernel
ipython

# Bayesian inference stack
theano
pymc3
arviz
-e git+ssh://git@github.com/mackelab/theano_shim.git#egg=theano_shim

# Utilities
tqdm
-e git+ssh://git@github.com/mackelab/mackelab-toolbox.git#egg=mackelab-toolbox
